/*styles go here*/

html { font-size: 100%

}

body {
    margin:50px 0px; padding:0px;
    text-align:center;
}

p {
	color: #666666;
  font-family: 'Merriweather', Georgia,"Times New Roman", serif;
	font-size: 1.5rem;
	line-height: 1.5rem;
	background-color: #FF9D88
}

.header-container,.body-container, .footer-container{
    max-width: 1080px;
    margin: 0 auto;

}
.italic {
		font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
}

body{
	background-color:#ebe3ce;
}

ul{

list-style: none;
padding: 0;
list-style-type: none;
text-decoration: none;

}

img{

	border: none;

}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
	  margin:0;
		padding: 0;
		border-bottom: 1px solid #ccc;
		list-style: none;
		padding: 0;
		list-style-type: none;
		text-decoration: none;
		background-color: #FF4922;


}
#nav a:link, #nav a:visited {
display: block;
color: #fff;
background-color: #FF4922;
font-weight: bold;
text-align: center;
text-decoration: none;
padding: 4px;
font-family: Helvetica, Arial, sans-serif;



}


#nav a:hover, #nav a:active {
		background-color: #FFB5A5;

}

.caption {
		color: black;
		font-family: Georgia, "Times New Roman", serif;
		font-style: italic;
		font-size: 0.8rem;
		text-align: right;
}

#footer {
	color: black;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 0.8em;
	border-top: 1px solid black;
}


#nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {

  #nav {
    flex direction: row;
    justify-content: center;
  }
}

@media (min-width:800 px) {


}
